.*
!/.github
!.HA_VERSION
backups
blueprints
deps
@eaDir

secrets_template.yaml
secrets.yaml

custom_components/
www/community/
www/fonts/
www/Plex_Recently_Added/
www/upcoming-media-card-images/
tts/
image/

*.code-workspace
home-assistant.log*
button_card_templates/sagaland.yaml

zigbee.db-wal
.gitignore
zigbee.db
mqtt_dump.txt
CA_backup.tar
zigbee.db-shm
.gitignore
www/tanya.png
tts/750073ac6a6efa3ae3707430e24bd3b8127c39f0_en_-_google_translate.mp3
